:root {
    color-scheme: dark;
    font-family: sans-serif;
}

body {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

input,
select,
textarea,
button {
    outline: none;
    border: none;
    padding: 1em;
}

button {
    text-align: center;
}

input[type="button"] {
    text-align: center;
}

input[type="button"]:hover {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px solid #006699;
}

input[type="checkbox"]:focus {
    outline: none;
}


label {
    margin-left: 1em;
    margin-bottom: 4px;
}

.full-width {
    width: 100%;
}

.red-border {
    border: 1px solid red;
}

table input {
    width: 100%;
}

.rounded {
    border-radius: 20px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

/* Margins */
.mt-1 {
    margin-top: 4px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-3 {
    margin-top: 12px;
}
.mt-4 {
    margin-top: 16px;
}
.mt-5 {
    margin-top: 20px;
}
.mt-6 {
    margin-top: 24px;
}
.mt-7 {
    margin-top: 28px;
}
.mt-8 {
    margin-top: 32px;
}
.mt-9 {
    margin-top: 36px;
}
.mt-10 {
    margin-top: 40px;
}
.mt-11 {
    margin-top: 44px;
}
.mt-12 {
    margin-top: 48px;
}

.ml-1 {
    margin-left: 4px;
}
.ml-2 {
    margin-left: 8px;
}
.ml-3 {
    margin-left: 12px;
}
.ml-4 {
    margin-left: 16px;
}
.ml-5 {
    margin-left: 20px;
}
.ml-6 {
    margin-left: 24px;
}
.ml-7 {
    margin-left: 28px;
}
.ml-8 {
    margin-left: 32px;
}
.ml-9 {
    margin-left: 36px;
}
.ml-10 {
    margin-left: 40px;
}
.ml-11 {
    margin-left: 44px;
}
.ml-12 {
    margin-left: 48px;
}

.mr-1 {
    margin-right: 4px;
}
.mr-2 {
    margin-right: 8px;
}
.mr-3 {
    margin-right: 12px;
}
.mr-4 {
    margin-right: 16px;
}
.mr-5 {
    margin-right: 20px;
}
.mr-6 {
    margin-right: 24px;
}
.mr-7 {
    margin-right: 28px;
}
.mr-8 {
    margin-right: 32px;
}
.mr-9 {
    margin-right: 36px;
}
.mr-10 {
    margin-right: 40px;
}
.mr-11 {
    margin-right: 44px;
}
.mr-12 {
    margin-right: 48px;
}

.mb-1 {
    margin-bottom: 4px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-3 {
    margin-bottom: 12px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mb-5 {
    margin-bottom: 20px;
}
.mb-6 {
    margin-bottom: 24px;
}
.mb-7 {
    margin-bottom: 28px;
}
.mb-8 {
    margin-bottom: 32px;
}
.mb-9 {
    margin-bottom: 36px;
}
.mb-10 {
    margin-bottom: 40px;
}
.mb-11 {
    margin-bottom: 44px;
}
.mb-12 {
    margin-bottom: 48px;
}